/* Coolors Exported Palette - coolors.co/545e75-63adf2-a7cced-304d6d-82a0bc */

/* HSL */
$color1: hsla(222%, 16%, 39%, 1);
$color2: hsla(209%, 85%, 67%, 1);
$color3: hsla(208%, 66%, 79%, 1);
$color4: hsla(211%, 39%, 31%, 1);
$color5: hsla(209%, 30%, 62%, 1);

/* RGB */
$color1: rgba(84, 94, 117, 1); /* Black Coral */
$color2: rgba(99, 173, 242, 1); /* Blue Jeans */
$color3: rgba(167, 204, 237, 1); /* Pale Cornflower Blue */
$color4: rgba(48, 77, 109, 1); /* Independence (Navy) */
$color5: rgba(130, 160, 188, 1); /* Air Superiority Blue (Smoky Blue) */